@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-regular.woff') format('woff'),
       url('../fonts/proximanova-regular.ttf') format('truetype'),
       url('../fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{ background-color: #F3F3F3; color: #999; font-size: 16px; font-family: 'proxima_nova_rgregular';}

.bg-azul{ background-color: #05AFEE; }
.bg-cinza{ background-color: #666666; }
.bg-amarelo{ background-color: #F0D312; }

.txt-azul{ color: #05AFEE; }
.txt-branco{ color: #fff; }